body {
  background-image: url('bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
h1, h2, h3, p {
  color: white;
}
h3 {
  font-size: 30px;
}   
button {
  background-color: #6848fc;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #795df9;
}

button:active {
  background-color: #795df9;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}   