body {
  background-image: url('bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
h1, h2, h3, p {
  color: white;
}
h3 {
  font-size: 30px;
}   
button {
  background-color: #6848fc;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #795df9;
}

button:active {
  background-color: #795df9;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}   



.download-btn {
  /*display: flex;
  align-items: center;
  padding: 10px 16px;
  background-color: #6848fc;  007bff
   color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;*/
  display: inline-block; padding: 10px 20px; background-color: green;  border-radius: 30px;
  
}
.download-btn:hover {
	background-color: darkgreen;
}
.arrow-img {
  width: 24px;
  height: 24px;
  margin-left: 0px;
  margin-right: 0px;
  
}
.arrow-image:hover {
	animation: bounce 1s infinite;
}
@keyframes bounce {
  0%, 100% {
	transform: translateY(0);
  }
  50% {
	transform: translateY(-6px);
  }
}